@import "~bootstrap/scss/bootstrap";
@import './layout';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Background {
  text-align: center;
  height: 100%;
  background-color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Background-Height {
  min-height: calc(100vh - 56px);
}

.App-header  {
  background-color: #282c34;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Button.btn {
  background-color: transparent;
  height: 35px;
  width: 35px;
  font-size: 0.75rem;
}

.btn.btn-outline-light {
  border: 1px solid rgba(white, 0.4);
}

.btn.btn-outline-light:focus {
  background: rgba(white, 0.75);
  color: black;
}

input {
  border-radius: 3px;
  background: #282c34;
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
}

select {
  border-radius: 3px;
  background: #282c34;
  color: white;
  border-color: rgba(255, 255, 255, 0.4);
}

h3.text-white {
  margin-bottom: 0px;
}

label {
  margin-bottom: 0px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: white; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(black, 0.5); 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.projects-container-align {
  text-align: left;
}

.App-Background-Height-Title {
  min-height: calc(100vh - 56px - 71px);
}