.Grid {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Grid-Expander {
  z-index: 1;
  position: fixed;
}

.Grid-Panel-Expanded {
  left: 320px;
}

.Grid-Panel-Hidden {
  left: 0;
}

.Grid-Color {
  background: #1d2026;
  color: gainsboro;
}

.Grid-Color.Expanded {
  margin-left: 320px;
}

.Panel-Color {
  position: fixed;
  background: #49515f;
  color: gainsboro;
  height: calc(100vh - 56px);
  transition: all 500ms linear;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

.Panel-Color.Hidden {
  transform: translateX(-320px);
  -webkit-transform: translateX(-320px);
}
