.flex {
  display: flex;
}

.content-space-between {
  justify-content: space-between;
}

.padding-10 {
  padding: 10px;
}

.padding-5 {
  padding: 5px;
}

.padding-right-5 {
  padding-left: 5px;
}

.padding-left-5 {
  padding-right: 5px;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-left-15 {
  padding-left: 16px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-right-15 {
  padding-right: 16px;
}

.padding-top-5 {
  padding-top: 5px;
}

.margin-left-15 {
  margin-left: 15px
}

.padding-sides-5 {
  @extend .padding-left-5;
  @extend .padding-right-5;
}

.margin-bot-10 {
  margin-bottom: 10px;
}

.margin-bot-15 {
  margin-bottom: 15px;
}

.padding-bot-5 {
  padding-bottom: 5px;
}

.padding-bot-1rem {
  padding-bottom: 1rem;
}

.padding-bot-10 {
  padding-bottom: 10px;
}

.padding-5-top-bot {
  padding-bottom: 5px;
  padding-top: 5px;
}