.Entity {
  width: 15rem;
  cursor: default;
  border: solid 1px rgba(white, 0.25);
  border-radius: 3px;
}

.header {
  font-weight: 500;
}

.entity.side-panel {
  padding-right: 1rem;
  padding-left: 1rem;
  transition: visibility 250ms;
}

.entity.side-panel.hidden {
  visibility: hidden;
}
