.Entity {
  width: 15rem;
  cursor: default;
  border: solid 1px white;
  border-radius: 3px;
}

.entity.side-panel {
  padding-right: 1rem;
  padding-left: 1rem;
  transition: visibility 250ms;
}

.entity.side-panel.hidden {
  visibility: hidden;
}
